name: Enviar alerta para Discord

on:
  push:
    branches:
      - main

jobs:
<<<<<<< HEAD
  discord:
=======
  notify:
>>>>>>> 2bab61ed16435ca2c10edf9e8d9f396f5a53800a
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v3

      - name: Enviar mensagem para o Discord
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
<<<<<<< HEAD
          args: |
             **Novo Push na branch `main`!**
             **Reposit贸rio:** ${{ github.repository }}
             **Usu谩rio:** ${{ github.actor }}
             [Ver reposit贸rio no GitHub](https://github.com/${{ github.repository }})
             **ltimo commit:** ${{ github.event.head_commit.message }}
=======
          args: ' Novo push feito na branch main do reposit贸rio Formativa2!'
>>>>>>> 2bab61ed16435ca2c10edf9e8d9f396f5a53800a
